dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
processed/
dataset/
*.pyc
.DS_Store
simpler/
parameter_sweep/
/exploration/processed/
/exploration/processed_matched/
ds002778-1.0.5
exploration/revision_quick
